node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.nx
dist
tmp
.DS_Store
.idea

# Local secrets
**/.env
**/.env.*
!**/.env.example
apps/screeps-bot/screeps.json
apps/screeps-metric-processor/config/config.yaml
